@import './helpers/fonts';
@import './helpers/mixins';

@import './components/header';

@import './sections/sidebar';
@import './sections/building';

body, h3, h4, h5, h6, ul, div, span, p, input, button {
    padding: 0;
    margin: 0;
}

.main {
    @include flex($justify: space-between);

}
.titles {
    @include font(18px, 700, 21px);
    margin-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
    .building {
        width: 65%;
    }
    .sidebar {
        width: 35%;
    }
}
